# Configuration file for sensortags.
# This follows the Python ConfigParser format.
#   > Each sensortag is identified with the MAC address

[DEFAULT]
kvstore     : edu.berkeley.eecs.mor.sensortags.%(mac)s
temperature : 1000
humidity    : 1000
barometer   : 1000
imu         : 1000
optical     : 1000


[Sensor1]
mac : B0:B4:48:B8:B0:80 

# [Sensor2]
# mac : B0:B4:48:B8:B3:06
 
# [Sensor3]
# mac : 68:C9:0B:06:2C:8A

# [Sensor4]
# mac : 68:C9:0B:05:C4:01
