debian/libgdp*
examples/machine-mon
lang/js/apps/gdpREST_server/node_modules
lang/python/temp.apps/*
test-net/gdp_router
KEYS
.DS_Store
tags
README*.html
*.bak
*~
*.swp
*.o
*.a
*.so.*
*.pyc
*.log
*.dSYM
!libs/*.a
!libs/*.so*
*.deb
cscope.*
private
Doxyfile
gdp_router
git-version.txt
